#main_frame {
    margin-top:50px;
    border: 3px solid black;
    height: 641.25px;
}

#enemy_portrait_container {
    /* float: right; */
    position: absolute;
    margin-left: 1037px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

#player_portrait_container {
    /* float: right; */
    position: absolute;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.col-5 {
    border: 3px solid black;
    padding: 0px;
}

#enemy_bar {
    border-top: 0px;
}

.progress {
    border-radius: 0px;
}

.hp_bar {
    height: 25px;
    border-bottom: 3px solid black;
}

.mp_bar {
    height: 15px;
}

.portrait {
    width: 94px;
}

#bottom {
    margin-top: 95px;
}

#player_bar {
    margin-top: 54px;
    border-bottom: 0px;
    margin-left: -1px;
}

.name {
    position: absolute;
    font-weight: bold;
}
.name.enemy{
    margin-left: 1020px;
    margin-top: 53px;
    text-align: center;
}
.name.player{
    margin-top: 69px;
    margin-left: 10px;
}
.playfield {
    width: 1000px;
    height: 200px;
}
.playfield img{
    width:300px;
    height:300px;
}
#p1{
    margin-left: 750px;
    margin-top: 200px;
}
#p2{
    margin-left:75px;
}