#main_frame {
    margin-top:50px;
    border: 3px solid black;
    height: 641.25px;
}

#enemy_portrait_container {
    /* float: right; */
    background-color: orangered;
    position: absolute;
    margin-left: 1037px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

#player_portrait_container {
    /* float: right; */
    background-color: cyan;
    position: absolute;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.col-5 {
    border: 3px solid black;
    padding: 0px;
}

#enemy_bar {
    border-top: 0px;
}

.progress {
    border-radius: 0px;
}

.hp_bar {
    height: 25px;
    border-bottom: 3px solid black;
}

.mp_bar {
    height: 15px;
}

.portrait {
    width: 94px;
}

#bottom {
    margin-top: 495px;
}

#player_bar {
    margin-top: 54px;
    border-bottom: 0px;
    margin-left: -1px;
}

.name {
    position: absolute;
    font-weight: bold;
}
.name.enemy{
    margin-left: 1020px;
    margin-top: 53px;
    text-align: center;
}
.name.player{
    margin-top: 469px;
    margin-left: 10px;
}
.playfield {
    position: absolute;
    width: 1000px;
    height: 200px;
}
.playfield img{
    width:300px;
    height:300px;
}
#p1 img{
    position: fixed;
    margin-left: 800px;
    margin-top: 20px;
    width:150px;
    height:300px;
}
#p2{
    position: absolute;
    margin-top: 200px;
    margin-left:180px;
}
#p2 img{
    width:90px;
}
.d-flex.flex-column {
    background-color: white;
    position: absolute;
    margin-top: -347px;
    margin-left: 822px;
    width: 300px;
    height: 350px;
    border: 3px solid black;
}
.p-3 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    height: 70px;
    border-bottom: 3px solid black;
}

.p-2 {
    font-weight: bold;
    border-bottom: 3px solid black;
}

#back_button {
    background-color: white;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    width: 100px;
    height: 70px;
    padding: 12px;
    border: 3px solid black;
    position: absolute;
    margin-top:-67px;
    margin-left: 1022px;
}

#dialogue_portrait_container {
    background-color: white;
    margin-left: -18px;
    margin-top: -197px;
    position: absolute;
    border: 3px solid black;
    width: 200px;
    height: 200px;
}

.dialogue_portrait {
    width: 194px;
}

#dialogue_container {
    background-color: white;
    margin-left: 179px;
    margin-top: -147px;
    padding: 5px;
    padding-left: 10px;
    font-size: 120%;
    position: absolute;
    border: 3px solid black;
    width: 943px;
    height: 150px;
    z-index: 3;
}

#dialogue_name_container {
    text-align: center;
    background-color: white;
    margin-left: 179px;
    margin-top: -197px;
    padding-top: 8px;
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    border: 3px solid black;
    width: 150px;
    height: 53px;
    z-index: 3;
}

#dialogue_next_button {
    text-align: center;
    background-color: white;
    margin-left: 972px;
    margin-top: -50px;
    padding-top: 8px;
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    width: 150px;
    height: 53px;
    z-index: 4;
}

#turn_counter{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 40px;
}

#select_text{
    position: absolute;
    margin-top: -530px;
    margin-left: 450px;
}

#select_enemy {
    margin-left: 800px;
    margin-top: -573px;
    position: absolute;
    width: 155px;
    height: 305px;
}
#select_enemy:hover {
    border: 3px solid black;
}

#select_player {
    margin-left: 170px;
    margin-top: -400px;
    position: absolute;
    width: 110px;
    height: 310px;
}
#select_player:hover {
    border: 3px solid black;
}
#battle_result {
    text-align: center;
    margin-left: 355px;
    margin-top: -450px;
    position: absolute;
    border: 3px solid black;
    width: 400px;
    height: 260px;
    z-index: 3;
}
#battle_result h1 {
    margin-top: 50px;
}
#battle_result_button {
    background-color: white;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin-left: 37%;
    margin-top: 10%;
    width: 100px;
    height: 50px;
    padding: 3px;
    border: 3px solid black;
}